# After Ubuntu 16.04, Systemd becomes the default.
# It is simpler than https://gist.github.com/Doowon/38910829898a6624ce4ed554f082c4dd

[Unit]
Description=Jupyter Notebook
After=rc-local.service
Before=getty.target
IgnoreOnIsolate=yes

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart={{ anaconda_install_dir }}/bin/jupyter notebook --no-browser --port=8888 --ip=0.0.0.0 --NotebookApp.token='' --NotebookApp.password=''
User=vagrant
Group=vagrant
WorkingDirectory=/vagrant/notebook
Restart=always
RestartSec=10
#KillMode=mixed

[Install]
WantedBy=multi-user.target
